<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nAble_for_nRad2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nAble_for_nRad2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nAble_for_nRad2.Properties.Settings>
            <setting name="RunningDaysToKeepLogs" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CognexCommunicationsInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>DC1\MSSQLSERVER2008</value>
            </setting>
            <setting name="UseLogDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBypassVacuum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasAdvantechServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasRIOAutomation" serializeAs="String">
                <value>False</value>
            </setting>
        </nAble_for_nRad2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <nAble_for_nRad2.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>nAble</value>
            </setting>
            <setting name="HasAnalogInputs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplateVersion" serializeAs="String">
                <value>2.06</value>
            </setting>
        </nAble_for_nRad2.Properties.Settings>
    </applicationSettings>
</configuration>